input{
    background-color: #fcf4f4 !important;
}
.save,.checkout input,h5,hr{
    width:350px !important;
}
.place-order{
    margin-left:200px;
    width:400px !important;
}
.mar-left{
    margin-left:-100px;
}
.place-btn{
    margin-left:200px;
}
.place-order-button{
    width:400px!important;
}
.place-order-button-d{
      width:400px!important;
     cursor: not-allowed !important;
}